body {
    width: 100vw;
    height: 100vh;
    background-image: url('rom.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 59px;
    color: #0b9613;
}
div.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
div.center span { font-size: 15px}
div.center div {
    border-radius: 100px;
    border: 15px solid #0d8032;
    background: #e7ee82bd;
    color: #02420b;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
div.center p {
    margin: 0;
}

