body {
    width: 100vw;
    height: 100vh;
    background-image: url('dd.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 50px;
    color: #43005a; 
}
div.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
div.center div {
    border-radius: 100px;
    border: 15px solid #8079c7;
    background: #a8b4dabd;
    color: #480e99;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
div.center p {
    margin: 0;
}

